<%= provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
      </h1>
    </section>
  </aside>
<div class="span8">
    <h2> <%= pluralize(@user.dares.count, "Dare") %> </h2>
  <% if @user.dares.any? %>
    <ol class="dares">
      <%= render @dares %>
    </ol>
    <%= will_paginate @dares %>
    <% end %>
    <div style="padding-top:20px"></div>
    <h2> <%= pluralize(@accepted_feed.count, "Accepted Dare") %> </h2>
  <% if @user.accepted_feed.any? %>
    <ol class="accepted dares">
      <%= render @accepted_feed %>
    </ol>
    <%= will_paginate @dares %>
    <% end %>
  </div>
</div>
