<li id="<%= feed_item.id %>">
<span class="user">
  <%= link_to feed_item.user.name, feed_item.user %>
</span>
<span class='content'><%= feed_item.content %></span>
<span class='timestamp'>
 dared <%= time_ago_in_words(feed_item.created_at) %> ago.
</span>
<% if feed_item.accepted == true %>
 <span>Accepted by: User #</span>
<%= link_to feed_item.accepted_by, "/users/"+feed_item.accepted_by.to_s %>

<% else %>
  <% if signed_in? %>
<%= link_to 'Accept', :controller => "dares", :action => "accept", method: :put, :id => feed_item.id  %>
  <% else %>
  <span>You need to be signed in to accept dares </span>
<% end %>
<% end %>
<!--<input class='acceptButton' type="submit" value="Accept Dare"/>-->
</li>
